@import './variables';

/* ========== FAQs PAGE ========= */
.faqs-main{
    margin: 0 auto 50px auto;
}
.faqs-text{
    font-size: 1.2rem;
    text-align: justify;
    margin: 30px auto;
}

.MuiPaper-root.acc-btn{
    padding-top: 15px;
    background-color: $ltGoldColor;
    &:hover{
        background-color: $goldColor;
    }
    .acc-text{
        font-family: avenir;
        font-size: 1.2rem;
    }
}

