/*
Colors:
chocolate: #6C3904
gold: #967a3d
wheat: #c2b59b
black: #00000
charcoal: #58595b
white: #ffffff
*/
* {
    box-sizing: border-box;
  }
body{
    max-width: 100%;
}


/* ========== MAIN TEXT STYLES ========= */
.main-page{
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 50px auto;
    font-family: avenir;
}
@media screen and (max-width:1024px){
    .main-page{ padding: 0 20px; }
}

.page-text{
    font-size: 1.5rem;
}

.page-banner{
    font-family: thistails;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    width: 100%;
    height: 200px;
    background: #83929F;
    margin-bottom: 50px;
}
a{
    text-decoration: none !important;
}

@media screen and (max-width:600px){
    .page-text{
        font-size: 1rem;
    }
}

/* ========== NAV BAR ========= */
.top-bar{ display: none; }
.topnav{
    min-height: 5vh;
    background:#F4D6CB;
}
.nav-flex-container{
    font-family: avenir;
    display: flex;
    width: 1024px;
    margin: 0 auto;
}
.nav-flex-left{
    /* border: solid red 2px; */
    width: 30%;
}
.nav-flex-right{
    color: #967a3d;
    display: flex;
    flex-direction: column;
    /* border: solid red 2px; */
    width: 70%;
}
.nav-flex-right_top{
    text-align: right;
    padding: 5% 20px 5% 0;
    border-bottom: solid #967a3d 2px;
    height: 50%;
    font-size: 1.5rem;
}
.nav-text{
    font-family: brandonsmith;
}
.nav-flex-right_bot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: solid orange 2px; */
    height: 50%;
}
 .nav-link-button{
    color: white;
    font-weight:bold;
    font-size: 1.5rem;
    padding: 2rem 0;  
} 
.nav-link-button:hover{
    color: #967a3d;
}

/* ========== NAV BAR (mobile) ========= */
@media screen and (max-width: 1024px){
    .top-bar{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background:rgb(4, 4, 56);
        font-size: 1.4rem;
        color: white;
        padding: 20px 0 20px 20px;
        margin-bottom: 1px;
    }

    .mobile-home-icon{
        font-family: brandonsmith;
        font-size: 1.5rem;
        color: white;
        width: 80%;
        padding-left: 20%;
    }
    .mobile-home-icon:active{
        color: white;
    }
  
    .topnav{
        display: flex;
        flex-direction:column;
        background: rgb(4, 4, 56);
        color: #ffffff
    }

    .topnav a {
        display: block;
        width: 100%;
        color: #f2f2f2;
        text-align: center;
        padding: 22px 16px;
        font-size: 1rem;
        border-bottom: solid #f2f2f2 1px;
    }
    .topnav a:hover {
    background-color: #967a3d;
    color: black;
    }         
    .topnav { display: none; }
    .topnav a.menu-icon {
      float: left;
      display: block;
    }
    .topnav.responsive { display: block; }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .menu-icon:hover{
        color: #967a3d;
    }
    .menu-icon-part{
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }
    .navbar-mobile-title{
        display: block;
        position: relative;
        right: 15%;
        font-size: 1.5rem;
    }
    .nav-flex-container{
        width: 100vw;
    }
    .nav-flex-left{
        display: none;
    }
    .nav-flex-right_top{
        display: none;
    }
    .nav-flex-right_bot{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
    }
}

/* ========== HOME PAGE ========= */
.home-container{
    max-width: 1024px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.grid-container{
    justify-content: center;
    display: grid;
    width: 1024px;
    height: 850px;
    gap:  5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 200px 200px 200px;
    grid-template-areas: 
      "main main main main"
      "main main main main"
      "products products about about"
      "products products faqs faqs";
    margin-top: 50px;
    margin-bottom: 50px;
  }
.grid-item-main{grid-area: main;}
.grid-item-products{grid-area: products;}
.grid-item-about{grid-area: about;}
.grid-item-faqs{
    grid-area: faqs;
    display: flex;
    background: #BDD1C5;
    color: white;
    align-items: center;
    justify-content: center;
}
.grid-item-main img{
    width: 100%;
    height: 455px;
    object-fit: cover;
}
.grid-item{
    position: relative;
    font-family: thistails; 
    font-size: 2.5rem;
}
.grid-item-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grid-item-s img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.grid-item-m img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.item-test{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 509.5px;
    height: 200px;
}

/* ========== HOME PAGE (Mobile) ========= */
@media screen and (max-width: 1024px){
    .top-container{ display: none; }
    #main_logo{width: 100vw;}

    .grid-container{
        justify-content: center;
        width: 100vw;
        height: 800px;
        margin-top: 0;
        margin-bottom: 0;
        display: grid;
        gap: 2px 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 250px 250px 150px 150px;
        grid-template-areas: 
          "main main main main"
          "products products products products"
          "about about about about"
          "faqs faqs faqs faqs";

      }
    .grid-item-main img{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .grid-item-main{grid-area: main;}
    .grid-item-products{grid-area: products;}
    .grid-item-about{grid-area: about;}
    .grid-item-faqs{grid-area: faqs;}

    .item-test{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 150px;
    }
}


/* ========== PRODUCTS PAGE ========= */
.tab-list {  border-bottom: 1px solid #ccc;
    padding-left: 0;
}
  
.tab-list-item {
    font-size: 1.5rem;
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 1.5rem 3rem;
    transition: 0.3s;
}
.tab-list-item:hover{
    cursor: pointer;
    background: #c2b59b46;
}

.tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}

.tab-content{
    font-size: 1.2rem;
    display: flex;
}
.tab-content ul{
    margin: 2% 2% 5%;
}

/* ========== GALLERY PAGE ========= */
.gallery-page{
    margin-bottom: 50px;
}

.photo-grid-container {
    width: 80%;
    margin: 1rem auto 4rem auto;
    justify-content: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 200px);
    
  }
.photo-grid-item{
    border: solid black 2px;
}

.gallery-cat-title{
    font-family: brandonsmith;
    font-size: 3rem;
    display:inline-block;
    position: relative;
    left: calc(50% - 2*250px - 15px);

}
/* ========== GALLERY PAGE (mobile) ========= */
@media screen and (max-width: 1024px){
    .photo-grid-container {
        width: 90%;
        margin: 1rem auto 4rem auto;
        justify-content: center;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
        
      }
    .photo-grid-item{
        border: solid black 2px;
        height: 200px;
        /* max-width: 300px; */
    }
    .gallery-cat-title{
        display:inline-block;
        position: relative;
        left: 5%;
        font-size: 3rem;
    }
}
@media screen and (max-width: 600px){
    .photo-grid-container {
        width: 80%;
        margin: 1rem auto 4rem auto;
        justify-content: center;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
        
      }
    .photo-grid-item{
        border: solid black 2px;
        height: 250px;
        /* max-width: 300px; */
    }
    .gallery-cat-title{
        display:inline-block;
        position: relative;
        left: 5%;
        font-size: 3rem;
    }
}

/* ========== ABOUT PAGE ========= */
#map{
    width: 500px;
    height: 400px;
}
.main-page h3{
    margin: 40px 0 30px 0;
}
/* ========== ABOUT PAGE (Mobile)========= */
@media screen and (max-width: 600px){
    #map{
        width: 100%;
        height: 300px;
        margin-bottom: 50px;  
    }
}

/* ========== FAQs PAGE ========= */
.faqs-main{
    margin: 0 auto 50px auto;
}
.faqs-text{
    font-size: 1.2rem;
    text-align: justify;
    margin: 30px auto;
}


/* ========== FOOTER ========= */
footer{
    padding: 0 30px;
    background: #c2b59b46;
}
.footer-main{
    font-family: avenir;
    padding: 0 30px;
    text-align: justify;
    display: flex;
    justify-content: space-around;
}

.footer-col ul{
    padding-left: 0;
}

.footer-col li {
    line-height: 2;
    list-style: none;
}
.footer-title{
    font-family: thistails;
    font-weight: bold;
    font-size: 1.3rem;
}
/* ========== FOOTER (Mobile) ========= */
@media screen and (max-width: 1100px){
    .footer-img{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .footer-img{
        display: none;
    }
    .footer-main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer-col{
        font-size: 1rem;
        margin-bottom: 0;
        text-align: center;
    }
}
