/*
Colors:
chocolate: #6C3904
gold: #967a3d
wheat: #c2b59b
black: #00000
charcoal: #58595b
white: #ffffff
*/
* {
    box-sizing: border-box;
  }
body{
    max-width: 100%;
}
#root > *{
    max-width: 100%;
}

/* ========== MAIN TEXT STYLES ========= */
.main-page{
    display: flex;
    flex-direction: column;
    margin: 0 10% 3% 10%;
}
.page-text{
    font-size: 1.5rem;
}
.page-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}
.page-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: #83929F;
    margin-bottom: 50px;
}

@media screen and (max-width:600px){
    .page-text{
        font-size: 1rem;
    }
}

/* ========== NAV BAR ========= */
.top-bar{ display: none; }
.topnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background: rgb(4, 4, 56);
    color: #ffffff
}
 .nav-link-button{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2rem 0;  
} 
.nav-link-button:hover{
    color: #967a3d;
}



/* ========== NAV BAR (mobile) ========= */
@media screen and (max-width: 800px){
    .top-bar{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background:rgb(4, 4, 56);
        font-size: 1.4rem;
        color: white;
        padding: 10px 0 10px 20px;
    }
    .top-bar span{
        padding-left: 20%;
    }
  
    .topnav{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: flex-start;
        min-height: 5vh;
        background: rgb(4, 4, 56);
        color: #ffffff
    }
    .topnav a {
        display: block;
        width: 100%;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1rem;
        border-bottom: solid #f2f2f2 1px;
    }
    .topnav a:hover {
    background-color: #967a3d;
    color: black;
    }         
    .topnav { display: none; }
    .topnav a.menu-icon {
      float: left;
      display: block;
    }
    .topnav.responsive { display: block; }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .menu-icon:hover{
        color: #967a3d;
    }
    .menu-icon-part{
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }
    .navbar-mobile-title{
        display: block;
        position: relative;
        right: 15%;
        font-size: 1.5rem;
    }
}

/* ========== HOME PAGE ========= */
.grid-item-main img{
    width: 100%;
    height: 401px;
    object-fit: cover;
}
.home-container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10%;
}

.grid-container{
    justify-content: center;
    display: grid;
    width: 1024px;
    height: 800px;
    gap: 5px 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
      "main main main main"
      "main main main main"
      "products products orders orders"
      "products products aboutus aboutus";
    margin-bottom: 50px;
  }
.grid-item-main{grid-area: main;}
.grid-item-products{grid-area: products;}
.grid-item-orders{grid-area: orders;}
.grid-item-aboutus{
    grid-area: aboutus;
    display: flex;
    background: #EFC9B8;
    color: white;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

.grid-item{
    border: solid black 2px;
}
.grid-item-s img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.grid-item-m img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
/* ========== HOME PAGE (Mobile) ========= */
@media screen and (max-width: 1024px){
    .top-container{ display: none; }
    #main_logo{width: 100vw;}

    .grid-container{
        justify-content: center;
        display: grid;
        width: 100vw;
        height: 800px;
        gap: 2px 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 250px 250px 150px 150px;
        grid-template-areas: 
          "main main main main"
          "products products products products"
          "orders orders orders orders"
          "aboutus aboutus aboutus aboutus";
        margin-bottom: 0;
      }
    .grid-item-main img{
        width: 100%;
        height: 246px;
        object-fit: cover;
    }
    .grid-item-main{grid-area: main;}
    .grid-item-products{grid-area: products;}
    .grid-item-orders{grid-area: orders;}
    .grid-item-aboutus{grid-area: aboutus;}

}

/* ========== PRODUCTS PAGE ========= */
.tab-list {  border-bottom: 1px solid #ccc;
    padding-left: 0;
}
  
.tab-list-item {
    font-size: 1.5rem;
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 1.5rem 3rem;
    transition: 0.3s;
}
.tab-list-item:hover{
    cursor: pointer;
    background: #c2b59b46;
}

.tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}

.tab-content{
    font-size: 1.2rem;
    display: flex;
}
.tab-content ul{
    margin: 2% 2% 5%;
}

/* ========== GALLERY PAGE ========= */
.gallery-page{
    margin-bottom: 50px;
}

.photo-grid-container {
    width: 80%;
    margin: 1rem auto;
    justify-content: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 200px);
    
  }
.photo-grid-item{
    border: solid black 2px;
}

.gallery-cat-title{
    display:inline-block;
    position: relative;
    left: calc(50% - 2*250px - 15px);
    font-size: 1.5rem;
}
/* ========== GALLERY PAGE (mobile) ========= */
@media screen and (max-width: 1024px){
    .photo-grid-container {
        width: 80%;
        margin: 1rem auto;
        justify-content: center;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        /* grid-template-rows: repeat(2, minmax(200px, 1fr)); */
        
      }
    .photo-grid-item{
        border: solid black 2px;
        height: 200px;
    }
    .gallery-cat-title{
        display:inline-block;
        position: relative;
        left: 10%;
        font-size: 1.5rem;
    }
}

/* ========== ABOUT PAGE ========= */
#map{
    width: 500px;
    height: 400px;
}
.main-page h3{
    margin: 40px 0 30px 0;
}
/* ========== ABOUT PAGE (Mobile)========= */
@media screen and (max-width: 600px){
    #map{
        width: 100%;
        height: 300px;
        margin-bottom: 50px;  
    }
}

/* ========== FAQs PAGE ========= */
.faqs-main{
    margin: 0 auto 50px auto;
}
.faqs-text{
    font-size: 1.2rem;
    text-align: justify;
    margin: 30px auto;
}


/* ========== FOOTER ========= */
footer{
    padding: 0 30px;
    background: #c2b59b46;
}
.footer-main{
    padding: 0 30px;
    text-align: justify;
    display: flex;
    justify-content: space-around;
}

.footer-col{
    font-size: 1rem;
    margin-bottom: 5vh;
}

.footer-col li {
    line-height: 2;
    list-style: none;
}
.footer-title{
    font-weight: bold;
    font-size: 1.3rem;
}
/* ========== FOOTER (Mobile) ========= */
@media screen and (max-width: 1100px){
    .footer-img{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .footer-img{
        display: none;
    }
    .footer-main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer-col{
        font-size: 1rem;
        margin-bottom: 0;
        text-align: center;
    }
}
