/*
Colors:
chocolate: #6C3904
gold: #967a3d
wheat: #c2b59b
black: #00000
charcoal: #58595b
white: #ffffff
*/

.App {
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background: #6e491e;
    color: #ffffff
}
.nav-links{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}



body{
    background: #c2b59b;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
